.advantages {
  text-transform: uppercase;
  text-align: center;
}

.advantages__list {
  .list-reset();
  display: flex;
  flex-direction: column;

  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}

.advantages__item {
  position: relative;

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 20px;
    width: calc(100% - 40px);
    height: 1px;
    background-color: @color-divider-primary;
  }

  &:last-child::after {
    content: none;
  }

  @media (min-width: @tablet-width) {
    &::after {
      content: none;
    }
  }
}

.advantages__item--illustrated {
  &::after {
    content: none;
  }

  @media (min-width: @tablet-width) {
    grid-column: 1 / -1;
  }
}

.advantages__item-block {
  display: flex;
  flex-direction: column;
}
