.advantage-illustration {
  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-flow: row dense;

    &__description {
      grid-column: 1 / 2;
    }

    &__image-container {
      grid-column: 2 / 4;
    }
  }
}

.advantage-illustration--reversed {
  @media (min-width: @tablet-width) {
    .advantage-illustration__description {
      grid-column: 3 / 4;
    }

    .advantage-illustration__image-container {
      grid-column: 1 / 3;
    }
  }
}

.advantage-illustration__image-container {
  background-color: @color-background-secondary;
}

.advantage-illustration__image-container img {
  display: block;
  width: 100%;
  height: auto;
  object-fit: contain;
}
