.checkbox + label::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 46px;
  height: 46px;
  background-color: @color-background-underlay-primary;
}

.checkbox:checked + label::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 46px;
  height: 46px;
  background-image: url("../img/icons/tick.svg");
  background-repeat: no-repeat;
  background-position: center;
}
