.footer {
  text-transform: uppercase;
  color: @color-heading-primary;
}

.footer__link {
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  color: @color-heading-primary;
}

.footer__social-list {
  .list-reset();
}
