.gallery {
  @media (min-width: @tablet-width) {
    padding: 0 60px;
  }

  @media (min-width: @desktop-width) {
    padding: 0;
  }
}

.gallery__list {
  .list-reset();
  display: flex;
  flex-direction: column;

  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  @media (min-width: @desktop-width) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}

.gallery__item {
  @media (max-width: @mobile-width-only) {
    padding: 24px 20px 26px;
    border-top: 1px solid @color-divider-secondary;

    &:last-child {
      border-bottom: 1px solid @color-divider-secondary;
    }
  }

  @media (min-width: @tablet-width) {
    background-color: @color-background-underlay-primary;

    &:nth-child(2n+3) {
      background-color: @color-background-underlay-secondary;
    }
  }
}

.gallery__item:first-child {
  @media (min-width: @tablet-width) {
    grid-column: 1 / -1;
  }
}
