.intro__image-container {
  background-color: @color-background-secondary;
  background-image: url("../img/background/intro-background-mobile.jpg");
  background-repeat: no-repeat;

  img {
    display: block;
  }
}

.intro__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: @color-heading-primary;
}
