.intro {
  text-align: center;
  text-transform: uppercase;
}

.intro__image-container {
  display: flex;
  justify-content: center;
  min-height: 158px;
  padding: 52px 20px 67px;
  background-color: @color-background-secondary;
  background-image: url("../img/decoration/intro-triangle.svg"), url("../img/background/bg-intro-mobile.jpg");
  background-repeat: no-repeat, no-repeat;
  background-position: bottom, bottom;
  background-size: auto, cover;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/decoration/intro-triangle.svg"), url("../img/background/bg-intro-mobile@2x.jpg");
  }

  @media (min-width: @tablet-width) {
    padding: 95px 20px 117px;
    background-image: url("../img/decoration/intro-triangle.svg"), url("../img/background/bg-intro-tablet.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/decoration/intro-triangle.svg"), url("../img/background/bg-intro-tablet@2x.jpg");
    }
  }

  @media (min-width: @desktop-width) {
    padding: 101px 20px 120px;
    background-image: url("../img/decoration/intro-triangle.svg"), url("../img/background/bg-intro-desktop.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/decoration/intro-triangle.svg"), url("../img/background/bg-intro-desktop@2x.jpg");
    }
  }

  img {
    display: block;
    width: 229px;
    height: 39px;

    @media (min-width: @tablet-width) {
      width: 457px;
      height: 78px;
    }

    @media (min-width: @desktop-width) {
      width: 460px;
      height: 80px;
    }
  }
}

.intro__text-container {
  padding: 36px 20px 28px;

  @media (max-width: @mobile-width-only) {
    br {
      display: none;
    }
  }

  @media (min-width: @tablet-width) {
    padding: 64px 20px 108px;
  }

  @media (min-width: @desktop-width) {
    padding: 115px 20px 68px;
  }
}

.intro__title {
  margin-top: 0;
  margin-bottom: 24px;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: @color-heading-primary;

  @media (min-width: @tablet-width) {
    margin-bottom: 21px;
    font-size: 30px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 31px;
  }
}

.intro__text {
  margin: 0;
}

.intro--main {
  .intro__image-container {
    padding: 90px 18px 85px;

    @media (min-width: @tablet-width) {
      padding: 78px 20px 90px;
    }

    @media (min-width: @desktop-width) {
      padding: 78px 20px 90px;
    }
  }

  .intro__text-container {
    padding: 32px 24px 35px;

    @media (max-width: @mobile-width-only) {
      br {
        display: block;
      }
    }

    @media (min-width: @tablet-width) {
      padding: 47px 20px 56px;
    }

    @media (min-width: @desktop-width) {
      padding: 59px 20px 44px;
    }
  }

  .intro__title {
    margin-bottom: 40px;

    @media (min-width: @tablet-width) {
      margin-bottom: 30px;
      font-size: 21px;
    }
  }

  img {
    width: 282px;
    height: 214px;

    @media (min-width: @tablet-width) {
      width: 460px;
      height: 350px;
    }
  }
}

.intro--catalog {
  .intro__text-container {
    padding: 37px 20px 36px;

    @media (min-width: @tablet-width) {
      padding: 66px 20px 80px;
    }

    @media (min-width: @desktop-width) {
      padding: 100px 20px 90px;
    }
  }

  .intro__title {
    margin-bottom: 26px;

    @media (min-width: @tablet-width) {
      margin-bottom: 32px;
    }

    @media (min-width: @desktop-width) {
      margin-bottom: 30px;
    }
  }
}
