.photo-block__image-container {
  background-color: @color-background-secondary;

  img {
    display: block;
  }
}

.photo-block__title {
  font-weight: 700;
}

.photo-block__likes {
  font-weight: 700;
}
