.services {
  .list-reset();
  display: flex;
  flex-direction: column;
  row-gap: 25px;
  padding: 23px 18px 46px;
  text-align: left;

  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 0;
    text-align: center;
  }
}

.services__item {
  position: relative;
  padding-left: 47px;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 40px;
    height: 40px;
    background-repeat: no-repeat;
    background-position: center;
  }

  &--accomodation::before {
    background-image: url("../img/icons/house.svg");
  }

  &--food::before {
    background-image: url("../img/icons/burger.svg");
  }

  &--souvenirs::before {
    background-image: url("../img/icons/present.svg");
  }

  @media (min-width: @tablet-width) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 330px;
    padding: 60px 33px;

    &::before {
      position: relative;
      margin-bottom: 26px;
      width: 80px;
      height: 80px;
    }

    &--accomodation::before {
      background-image: url("../img/icons/house-desktop.svg");
    }

    &--food::before {
      background-image: url("../img/icons/burger-desktop.svg");
    }

    &--souvenirs::before {
      background-image: url("../img/icons/present-desktop.svg");
    }
  }

  @media (min-width: @desktop-width) {
    padding: 60px 50px;
  }
}

.services__title {
  margin: 8px 0 16px;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: @color-heading-primary;

  @media (min-width: @tablet-width) {
    margin-top: 0;
    margin-bottom: 26px;
  }
}

.services__text {
  margin: 0;
}
