.services {
  .list-reset();
  display: flex;
  flex-direction: column;

  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}

.services__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: @color-heading-primary;
}
