.video {
  margin-bottom: -4px;
  padding: 18px 22px 0;
  text-transform: uppercase;
  text-align: center;

  @media (min-width: @tablet-width) {
    margin-bottom: 0;
    padding: 58px 60px 40px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 22px;
    padding: 60px;
  }
}

.video__title {
  max-width: 445px;
  margin: 0 auto 26px;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: @color-heading-primary;

  @media (min-width: @tablet-width) {
    margin-bottom: 30px;
    font-size: 30px;
  }
}

.video__text {
  max-width: 445px;
  margin: 0 auto 38px;

  @media (min-width: @tablet-width) {
    margin-bottom: 90px;
  }
}

.video__preview {
  position: relative;
  max-width: 800px;
  margin: 0 auto;
  background-color: @color-background-secondary;

  img {
    display: block;
    width: 100%;
    height: auto;
    object-fit: contain;
  }
}

.video__preview-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 48px;
  height: 54px;
  border: none;
  background-color: transparent;
  background-image: url("../img/icons/play-icon.svg");
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;

  &:hover,
  &:focus {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}
