.video {
  padding: 17px 20px 0 20px;
  text-transform: uppercase;
  text-align: center;

  @media (min-width: @tablet-width) {
    padding: 58px 60px 40px;
  }

  @media (min-width: @desktop-width) {
    padding: 62px 60px 84px;
  }
}

.video__title {
  max-width: 445px;
  margin: 0 auto 26px;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: @color-heading-primary;

  @media (min-width: @tablet-width) {
    margin-bottom: 21px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 26px;
  }
}

.video__text {
  max-width: 445px;
  margin: 0 auto 38px;

  @media (min-width: @tablet-width) {
    margin-bottom: 91px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 89px;
  }
}

.video__preview {
  max-width: 500px;
  margin: 0 auto;
  background-color: @color-background-secondary;

  img {
    display: block;
  }
}
