// colors
@color-background-primary: #ffffff;
@color-background-secondary: #81b3d2;
@color-background-secondary-hover: #669ec0;
@color-background-secondary-active: #5496bd;
@color-background-tertiary: #eeeeee;
@color-background-underlay-primary: #f2f2f2;
@color-background-underlay-secondary: #eaeaea;
@color-background-underlay-tertiary: #e6e6e6;
@color-background-underlay-focus: #e5e5e5;
@color-background-underlay-pressed: #d5d5d5;
@color-background-underlay-transparent: rgba(0, 0, 0, 0.3);
@color-background-disabled: #e5e5e5;
@color-text-primary: #333333;
@color-text-secondary: #ffffff;
@color-text-secondary-active: rgba(255, 255, 255, 0.3);
@color-text-note: rgba(51, 51, 51, 0.6);
@color-heading-primary: #000000;
@color-heading-primary-hover: #81b3d2;
@color-heading-primary-current: #766357;
@color-link-active: #b3b3b3;
@color-divider-primary: #d6d6d6;
@color-divider-secondary: #e5e5e5;
@color-divider-tertiary: #dbdbdb;
// viewports
@tablet-width: 768px;
@desktop-width: 1200px;
@mobile-width-only: 767px;
